body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:rgb(210, 206, 206);
}
#calc{
    display:flex;
    flex-direction:column;
    background-color:gray;
    width:70vw;
    height:90vh;
    justify-content:space-between;
    align-items:center;
    border:5px solid black;
}
#buttons{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    height:100%;
    border:0;
}
button{
    /* margin:0px; */
    /* aspect-ratio:1/1; */
    width:calc(100%/4);
    height:calc(100%/5);
    background-color:whitesmoke;
    font-size:32px;
    cursor:pointer;
}
.digit:hover{
    background-color:rgb(221, 221, 221);
}
.cline:hover{
    background-color:rgb(221, 221, 221);
}
.clear:hover{
    background-color:rgb(221, 221, 221);
}
.delete:hover{
    background-color:rgb(221, 221, 221);
}
.mp:hover{
    background-color:rgb(221, 221, 221);
}
.operation:hover{
    background-color:rgb(233, 188, 105);
}
#screen{
    display:flex;
    flex-direction:column;
    justify-content:end;
    align-items:end;
    width:100%;
    min-height:200px;
    background-color:gray;
    /* border-bottom:2px solid white; */
}
.operation{
    background-color:rgb(235, 159, 17);
    color:white;
    font-size:48px;
}
.filler2{
    border-left:0px;
}
.new{
        font-size:80px;
        min-height:60px;
}
.old{
    font-size:30px;
} 
.cantPress{
    background-color:rgb(233, 188, 105);
    
}
/* .number{
    
}